<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  </head>

  <div style="padding:0;margin:0;background:#000">
    <div style="width:100%!important;background:#000;margin:0;padding:0">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%!important;background-color:#000" width="100%">
        <tbody><tr>
            <td style="text-align:center;border-bottom:5px solid #493300;height:218px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="min-width:600px!important;background-color:#000">
                <tbody><tr>
                    <td><a href="https://www.pubg.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.pubg.com/&amp;source=gmail&amp;ust=1629958663425000&amp;usg=AFQjCNHQYFfaf-a_w3ZYvLUSqncMqUDdPw"><img src="https://ci3.googleusercontent.com/proxy/XyZWMkX_mQXGM2hTK2xs4jLbvKfbGQwYW6Bo-444Hj5Vek67W8bC-dMOr1ZTvMY1h0L0mIQzxUkyXj1JYGIp8Dc4pWCgH2nsTLcPITEcCz2-=s0-d-e1-ft#https://dbczev3e67hql.cloudfront.net/test/PUBG_logo_yellow.png" alt="PUBG lite logo" class="CToWUd"></a></td>
                </tr>
            </tbody></table>
            </td>
        </tr>
            <tr>
                <td style="text-align:center">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width:600px!important;background-color:#000">
                        <tbody><tr><td height="50"></td></tr>
                        <tr>
                            <td style="text-align:center"><img src="https://ci6.googleusercontent.com/proxy/Scep4OULTJdsE0DpqFcr8-8iZifIKYJyC7PMyHOpm-DFSLnFcSjGndjANguPERNi0kB90hr4EoUdUj5JhS8vKRXt_Ounre7c3SM6oged=s0-d-e1-ft#https://dbczev3e67hql.cloudfront.net/test/number_circle.png" alt="Step 2 of 3" class="CToWUd"></td>
                        </tr>
                        <tr><td height="20"></td></tr>
                        <tr>
                            <td style="color:#f2a900;font-family:'Teko',sans-serif!important;font-size:46px;text-align:center">PUBG Global Account Activation</td>
                        </tr>
                        <tr><td height="60"></td></tr>
                        <tr>
                            <td style="color:#fff;font-family:Roboto,Calibri,Arial,sans-serif;font-size:16px;line-height:24px;text-align:center">Welcome to PLAYERUNKNOWN'S BATTLEGROUNDS Global Accounts.
                Creating and linking your accounts gives you exclusive access to special offers, rare crates, outfits, and more.</td>
                        </tr>
                        <tr><td height="40"></td></tr>
                        <tr>
                            <td style="text-align:center">
                                <table align="center">
                                    <tbody><tr>
                                        <td align="center" style="padding-top:10px;padding-right:50px;padding-bottom:10px;padding-left:50px;background-color:#f2a900;text-align:center">
                                            <a style="display:inline-block;background-color:#f2a900;text-decoration:none;color:#001;font-family:'Teko',sans-serif!important;font-size:30px;font-weight:500;text-transform:uppercase" href="http://192.168.0.143:5000/confirmation/{{ token }}" target="_blank">										
                                                Confirm to Register
                                            </a>
                                        </td>
                                    </tr>
                                </tbody></table>                            
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
            <tr>
                <td style="text-align:center"><a href="#m_-4268200849949182863_"><img style="padding-top:20px" src="https://ci6.googleusercontent.com/proxy/QKnFNbteR2uasBsR9PkUvpybImYT1WXZGoxsBOtra2sHBekjCL_SKVMHEsnRhrS-Ruud6mHVYuwotOw9b1stgn-NimEq6Q=s0-d-e1-ft#https://dbczev3e67hql.cloudfront.net/test/3Char.png" alt="3 PUBG characters" class="CToWUd"></a></td>
            </tr>
            <tr>
                <td style="padding-top:0;padding-right:18px;padding-bottom:15px;padding-left:18px" valign="top" align="center">
                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important">
                        <tbody>
                            <tr>
                                <td style="max-width:600px" align="center" valign="middle">
                                    <p style="font-style:italic;max-width:600px;color:white">If the link above is not clickable, copy and paste the following URL into the address bar of your web browser.</p>
                                        <a href="http://192.168.0.143:5000/confirmation/{{ token }}" style="text-decoration:none;font-style:italic;max-width:600px;color:white" target="_blank">http://192.168.0.143:5000/{{ token }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;border-top:2px solid #493300;height:122px">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width:600px!important;background-color:#000">
                        <tbody><tr><td style="font-size:0;line-height:0" height="30"></td></tr>
                        <tr>
                            <td valign="top"><img src="https://ci5.googleusercontent.com/proxy/Qb31al0bnTujdYR08FV1BhlbY02uUUf3C_rJZW2DkQTGFsERQf8ymOJyjYQkqMQy5BfcqEixxepVpLdr0R-SGy3O6BrnEyhU=s0-d-e1-ft#https://dbczev3e67hql.cloudfront.net/test/krafton.png" alt="PUBG corportation logo" class="CToWUd"></td>
                            <td width="30"></td>
                            <td style="font-family:Roboto,Calibri,Arial,sans-serif;color:#888;font-size:12px;line-height:18px;text-align:left">©2021 PUBG CORPORATION. ALL RIGHTS RESERVED.<br>
                                PLAYERUNKNOWN’S BATTLEGROUNDS and PUBG are registered trademarks,<br>
                                trademarks or service marks of KRAFTON, Inc.
                            </td>
                        </tr>
                        <tr><td style="font-size:0;line-height:0" height="30"></td></tr>
                    </tbody></table>
                </td>
            </tr>
        </tbody></table><div class="yj6qo"></div><div class="adL">
    </div></div><div class="adL">
    </div></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>